<h1 class="text-center text-light bg-primary mt-3">New Club</h1>

<%= render 'form' %>

<a class="btn btn-block btn-outline-dark fa-lg" href="/clubs"><i class="fas fa-arrow-circle-left"></i> Back</a>