<div class="card mt-5">
  <div class="card-header">
    RESTful API Documentation
  </div>
  <div class="card-body">
    <p class="card-text">This application provides independent RESTful API.<br><strong>/api/v1</strong></p>

    <div class="row text-center">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Club model</h5>
            <p class="card-text"><strong>C</strong>reate club<br><strong>R</strong>ead club<br><strong>U</strong>pdate club<br><strong>D</strong>elete club</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Season model</h5>
            <p class="card-text"><strong>C</strong>reate season<br><strong>R</strong>ead season<br><strong>U</strong>pdate season<br><strong>D</strong>elete season</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Match</h5>
            <p class="card-text"><strong>C</strong>reate match<br><strong>R</strong>ead match<br><strong>U</strong>pdate match<br><strong>D</strong>elete match</p>
          </div>
        </div>
      </div>
    </div>
  
    <a class="btn btn-block btn-outline-primary fa-lg mt-3" href="https://github.com/borisaeric/dosamigos-football"><i class="fas fa-book"></i> Read API Documentation</a>
  </div>
</div>