<div class="alert alert-danger mt-4">
  <h1>Internal server error</h1>
  <p>Something went wrong</p>
</div>

<a class="btn btn-block btn-outline-dark fa-lg" href="/"><i class="fas fa-arrow-circle-left"></i> Back</a>