<div class="alert alert-danger mt-4">
  <h1>Not found</h1>
  <p>The page you are looking for doesn't exists</p>
  <p>You may have mistyped the address or the page may have moved</p>
</div>
<a class="btn btn-block btn-outline-dark fa-lg" href="/"><i class="fas fa-arrow-circle-left"></i> Back</a>