<h1 class="text-center text-light bg-primary mt-3">Edit match</h1>

<%= render 'form' %>

<a class="btn btn-block btn-outline-dark fa-lg" href="/seasons/<%= @season.id %>/matches/<%= @match.id %>"><i class="fas fa-arrow-circle-left"></i> Back</a>
